@value baseSpace from '../../common/size.css';

.name {
  font-weight: bold;
  font-size: 1.1rem;
}

.left {
  flex: 50%;
  font-size: 1rem;
}

.right {
  flex: 50%;
  font-size: 1rem;
  padding-left: calc(baseSpace * 2);
}

.profile {
  text-align: center;
}

.profile > img {
  width: 10rem;
}
