@value baseSpace from '../../common/size.css';
@value makerShadow from '../../common/colors.css';

.container {
  display: flex;
}
.maker {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  margin-top: baseSpace;
  height: 10rem;
  width: 95%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 100%;
  border: 1px solid;
}

.preview {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin-top: baseSpace;
  width: 95%;
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: baseSpace calc(baseSpace * 4);
  box-shadow: makerShadow;
}
