@value baseSpace from '../../common/size.css';
@value makerLightBlack from '../../common/colors.css';

.title {
  color: makerLightBlack;
  font-size: 2rem;
  padding-left: baseSpace;
}

.signOut {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.signOut:hover {
  color: red;
}
.signOut > i {
  font-size: 1.5rem;
}
